.Title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}
.accordionDetails {
  // border: 1px solid rgb(255, 39, 39);
}
.CheckboxGroup {
  // border: 1px solid rgb(255, 151, 151);
  width: 100%;
}
.GreenCheckbox {
  // border: 1px solid #000;
  width: 100%;
}
